# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Autotools
/autom4te.cache/
/build*/
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
Makefile.in
config.h.in
*~

# Qt build tools
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave
*.qmlproject.user
*.qmlproject.user.*
