// MainWindow.rc
// Copyright (c) 2015-2018 Arkadiusz Bokowy
//
// This file is a part of WinPEFix.
//
// This project is licensed under the terms of the MIT license.

#include <windows.h>
#include "../src/resource.h"

1 ICON DISCARDABLE "../winpefix.ico"

1 DIALOGEX 0, 0, 256, 100
STYLE DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_MINIMIZEBOX | WS_THICKFRAME | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
CAPTION "WinPEFix"
FONT 8, "MS Shell Dlg", 0, 0, 1
BEGIN
	PUSHBUTTON "Select Files...", IDC_SELECT, 199, 2, 55, 16, BS_CENTER | BS_VCENTER, WS_EX_LEFT
	PUSHBUTTON "Process", IDC_PROCESS, 199, 20, 55, 16, BS_CENTER | BS_VCENTER, WS_EX_LEFT
	EDITTEXT IDC_TEXT, 2, 2, 195, 96, WS_VSCROLL | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, WS_EX_LEFT
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "FileDescription", VER_FILEDESCRIPTION_STR
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "LegalCopyright", VER_LEGALCOPYRIGHT_STR
			VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
			VALUE "ProductName", VER_PRODUCTNAME_STR
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", LANG_NEUTRAL, 1200
	END
END
